@use 'styles/variables' as *;

.title {
  color: $text-main-color;
}

.subtitle {
  color: $muted-text-color;
}

.muted-text {
  color: $muted-text-color;
}

.user-msg {
  background-color: $text-main-color;
  color: $surface-bg;

  .timestamp {
    color: rgba($surface-bg, 0.7);
  }
}

.bot-msg {
  background-color: $page-bg;
  color: $muted-text-color;

  .timestamp {
    color: rgba($muted-text-color, 0.7);
  }
}

.faq-answer {
  background-color: $page-bg;
}
