<div class="min-h-screen grid place-items-center bg-neutral-950 text-neutral-100">
  <div class="w-full max-w-sm p-6 rounded-xl border border-white/10 bg-white/[0.02]">
    <h1 class="text-lg font-semibold">Вход</h1>

    <ng-container *ngIf="route.snapshot.queryParamMap.get('error') as err">
      <div class="mt-3 text-sm text-red-400">
        Ошибка: {{ err }}
      </div>
      <div class="mt-1 opacity-90 text-xs text-red-300">
        {{ route.snapshot.queryParamMap.get('error_description') }}
      </div>
    </ng-container>

    <button class="mt-6 w-full rounded-md border border-white/10 py-2 hover:bg-white/10"
            (click)="login()">
      Войти
    </button>
  </div>
</div>
