@use 'styles/variables' as *;

.app-header {
  border-color: $border-color;
  background-color: $card-bg-50;
}

.app-sidebar {
  border-color: $border-color;
  background-color: $card-bg-30;
}

.nav-btn.is-active {
  background-color: #f3f4f6;
  color: $text-main-color;
}
